@model IEnumerable<pataatZOpdracht.Models.Cart>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutCustomer";

}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Winkelwagen</title>

	<link href="~/css/cartStyle.css" rel="stylesheet" />
</head>
<body>
    <h1>Cart</h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Prod.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Prod.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Prod.Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Prod.Name)
                    </td>
                    <td>
                        @if(item.Prod.Discount != null)
                        {
                            decimal priceAfterDiscount = item.Prod.DiscountCalculate();
                            @Html.DisplayFor(modelItem => priceAfterDiscount);
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.Prod.Price);
                        }

                    </td>
                    <td>
                        <img src="~/images/@item.Prod.Image" style="width:64px;" class="img-thumbnail" />
                    </td>
                    <td>
                        <label for="quantity">@item.Quantity</label>
                        <a asp-action="Edit" asp-route-id="@item.Id">
                            <i class="fa-solid fa-plus"></i>
                        </a>
                    </td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>                       
                    </td>

                </tr>
            }
            <tr>
                <td>Total</td>
                @{
                    decimal total = 0;
                    foreach (var item in Model)
                    {
                        if(item.Prod.Discount != null)
                        {
                            decimal priceAfterDiscount = item.Prod.DiscountCalculate();
                            decimal quantity = decimal.Parse(item.Quantity.ToString());
                            total += priceAfterDiscount * quantity;
                        }
                        else
                        {
                            decimal price = decimal.Parse(item.Prod.Price.ToString());
                            decimal quantity = decimal.Parse(item.Quantity.ToString());
                            total += price * quantity;               
                        }
                        
                    }
                }
                <td>@total</td>
                <td>
                    <form asp-controller="Orders" asp-action="Create" method="post">
                        <button type="submit" class="btn btn-outline-dark">Order</button>
                    </form>
                </td>                              
            </tr>
        </tbody>

    </table>

</body>
</html>


